#root {
  background-color: #432818; /* a dark brown color that combines well with the gold theme */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
.calendar-container {
    width: 100%;
    background-color: #2b2b43;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  
  .calendar-day {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .calendar-day:hover {
    background-color: #43436e;
  }
  
  .calendar-day.has-event {
    background-color: #525281;
  }
  
  .empty-day {
    visibility: hidden;
  }
  
  .event-indicator {
    margin-top: 5px;
    width: 10px;
    height: 10px;
    background-color: #28a745;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .events-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

@tailwind base;
@tailwind components;
@tailwind utilities;